
<ng-container>
    <div class="container">
        <h3 class="heading">Transaction history</h3>
            <table class="table">
                <tr>
                    <th>Timestamp</th>
                    <th>Purchase Information</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor = "let transaction of transactions">
                    <td>{{transaction.timestamp}}</td>
                    <td>{{transaction.purchaseInformation}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.status}}</td>
                </tr>
            </table>
        </div>
        <div *ngIf = "transactions.length == 0">
            <h3>No products to display</h3>
        </div>
</ng-container>

