<div class="container">
    <h4>Reset Password</h4>
    <div class="alert alert-success alert-dismissible" *ngIf="message">
        <button type="button" class="close" data-dismiss = "alert">&times;</button>
        <strong>{{message}}</strong>
    </div>
    <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage">
        <button type="button" class="close" data-dismiss = "alert">&times;</button>
        <strong>{{errorMessage}}</strong>
    </div>
    
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="form" novalidate>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" class="form-control" required>
        <div *ngIf="resetPasswordFormControl['email'].invalid && (resetPasswordFormControl['email'].dirty || resetPasswordFormControl['email'].touched)" class="error">
          <div *ngIf="resetPasswordFormControl['email'].errors?.['required']">Email is required.</div>
          <div *ngIf="resetPasswordFormControl['email'].errors?.['email']">Invalid email format.Please enter email in proper format.</div>
          <!-- <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input> -->
        </div>
      </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" class="form-control" required>
          <div *ngIf="resetPasswordFormControl['password'].invalid && (resetPasswordFormControl['password'].dirty || resetPasswordFormControl['password'].touched)" class="error">
            <div *ngIf="resetPasswordFormControl['password'].errors?.['required']">Please enter the new password.</div>
          </div>
        </div>
        <div class="form-group">
            <label for="password">Confirm Password:</label>
            <input type="password" id="password" formControlName="password" class="form-control" required>
            <div *ngIf="resetPasswordFormControl['password'].invalid && (resetPasswordFormControl['password'].dirty || resetPasswordFormControl['password'].touched)" class="error">
              <div *ngIf="resetPasswordFormControl['password'].errors?.['required']">Please enter the same password.</div>
            </div>
          </div>
        <button type="submit" [disabled]="resetPasswordForm.invalid">Update Password</button>
      </form>
      
    </div>